body{
    background-color: rgb(47, 48, 48);
    color: rgb(169, 193, 214);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20vh;
}
